.footer{background: #031D28;}
.footer-row{padding: .5rem;}
.footer-row>.col-6>p>a{ text-decoration: none;color: #69BA48;font-weight: 500;}
/* .footer-row>.col-6>h6{margin: 0;padding: 4px;color: #939393;font-weight: 330 !important;} */
.footer-row>.col-6>p{margin: 0;padding: 4px;color: #939393;font-weight: 330 !important;font-size: 1rem;}
.footer-row>.col-6{display: flex;align-items: center;}
.develop-by{justify-content:flex-end}
/** For tablet devices **/
.footer-container{padding: 0 3rem;}
#messageType {
    font-size: 18px;
    padding: 0.5rem;
    font-family: Montserrat;
    color: #000;
  }
  #messageType option{
    padding: 1rem;
  }
  .question{flex-direction: column;gap: 1.25rem;padding: 2.2rem;background: #F6FBFC;}
  .c-at{display: flex; gap: 3rem;align-items: center;justify-content: center;}
  .c-at > div{display: flex; gap: 1rem; align-items: center;justify-content: center;}
  .c-at > div >p{ color: #E38A04; margin: 0;}
  .bp{color: #4F6492;}
@media (min-width: 768px)  {
  .m-b-4{
      padding-bottom: 3.5rem;
    }
}
@media (max-width: 500px) {
  .res-h{text-align: center;}
  .c-at{flex-direction: column !important;gap: 1.2rem !important;}
    .footer-row {padding: .5rem ;}
    .footer-svg{display: none;}
    .footer-content{background: #224B9E;padding: 1rem;}
    .footer-content>h6{text-align: center;}
    .footer-row>.col-6>p{font-size: 9px;text-align: center !important;}
    .footer-row>.col-6{display: flex;justify-content: center;align-items: center;}
    .footer-container{padding: 0 1rem !important}
	.footer-row>.col-6>p{font-size: 11px !important;}
}