@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;800&family=Poppins&display=swap');


/* Your existing styles... */

* {box-sizing: border-box;padding: 0;margin: 0}

html,body {max-width: 100vw;overflow:hidden;}
.over-hidden{overflow: hidden;}
.gallery{min-height: 100vh;}
 
/* background */
.bg{background: url('/images/background.svg') ; background-repeat: no-repeat; background-position: cover;}


/* Headings */
h1, h2, h3, h4, h5, h6 {font-weight:bold;line-height: 1.2;margin: 0 !important;font-family: Montserrat;padding: 0 ; }

/* Paragraphs */
p {line-height: 200%;font-family: Montserrat; margin: 0;color: #252525; font-size: 18px;}

/* Anchor Links */
a {color: #ffffff;font-family: Montserrat; text-decoration:none;transition: color 0.3s;}

/* to inline divs */
.flex-div{display:flex}

/* to inline divs */
.flex-div-sbtn{display:flex; justify-content: space-between;}

/* to center */
.center{display: flex;justify-content: center;align-items: center;}
.col-center{display: flex;justify-content: center;align-items: center;flex-direction: column;}
.p0{padding-top: 0 !important;}
/* button */
button{outline: none;border: 0;display: flex;align-items: center;background: linear-gradient(90deg, #ED1C24 0%, #E49201 100%);padding: .8rem 1.5rem;color: #fff;}
.button{outline: none;border: 0;display: flex;align-items: center;background: linear-gradient(90deg, #ED1C24 0%, #E49201 100%);padding: .8rem 1.5rem;color: #fff;cursor: pointer;}
/* span */
span{color: #434343;font-family: Montserrat;font-size: 1.1rem;font-weight: 650;}

/* heading */
.heading{color: #000;font-family: Montserrat; font-size: 1.8rem;font-weight: 600;margin: 3rem 0 1rem 0;}

/* title */
.title{color: #BB0101;font-family: Montserrat;font-size: 1.2rem;font-style: normal;font-weight: 700;}
/* input */
input,textarea{background: transparent;border: 0; padding: .5rem;color: #212121;font-family: Montserrat; font-size: 1.3rem;outline: none;font-weight: 400 !important;}
textarea{margin-top: 3rem; border: 1px solid #929292;font-family: Montserrat;}
#message{margin-top: 2rem;color: #fff;}
textarea:hover{ border: 1px solid #db2121;}
select{background: transparent; color: #000;outline: none; border: 0;width: 100%;}
option{padding: 10px 2px;}
.p-container{margin:3rem 0;}

/* yellow section */
.yellow-section{border-radius: 6.25rem;
	border: 1px solid #FBB040;
	background: #FFF;display: flex;
	padding: 0.625rem 1.875rem;
	align-items: center;
	gap: 0.625rem;width: max-content !important;}
.yellow-section>p{margin: 0 !important;}
.yellow-section-row{margin: 2rem 0;width: 100%; gap: 1.2rem;}
.contact-data{display: flex; align-items: center; gap: 2rem;}

/* fade effect */
.disappear{
	opacity:.8;
   transition: opacity 2s;
 }
 .appear{
   opacity:1;
 }
/* banner */
.mssg{height: 20px !important; width: 28px !important;}
.sectionContainer{background-color: #040F25;}
.main-container{position: relative;}
.left-section{padding-top: 80vh; padding-left: 5rem;}
.banner0{background: url('../../public/images/Banner1.svg'), rgb(48, 146, 222) 50% / cover no-repeat; min-height: 100vh;}
.banner1{background: url('../../public/images/Banner2.svg'), rgb(11, 39, 95) 50% / cover no-repeat; min-height: 100vh;}
.banner2{background: url('../../public/images/Banner3.svg'), rgb(185, 78, 11) 50% / cover no-repeat; min-height: 100vh;}
.banner3{background: url('../../public/images/Banner4.svg'), rgb(222, 48, 158) 50% / cover no-repeat; min-height: 100vh;}
.banner0 {
    background: url('/images/Banner1.svg') rgb(48, 146, 222) 50% / cover no-repeat;
    min-height: 100vh;
  }
.banner1 {
    background: url('/images/Banner2.svg') rgb(48, 146, 222) 50% / cover no-repeat;
    min-height: 100vh;
  }
.banner2 {
    background: url('/images/Banner3.svg') rgb(48, 146, 222) 50% / cover no-repeat;
    min-height: 100vh;
  }
.banner3 {
    background: url('/images/Banner4.svg') rgb(48, 146, 222) 50% / cover no-repeat;
    min-height: 100vh;
  }
  .submit-btn{background: linear-gradient(90deg, #B80101 0%, #FEA00D 100%);display: flex;
padding: 1rem 6.25rem;justify-content: center;align-items: center;gap: 0.625rem;align-self: stretch;color: #FFF;font-family: Montserrat;font-size: 1.375rem;font-style: normal;font-weight: 600;line-height: normal;letter-spacing: 0.2475rem;text-transform: uppercase;}
  /* ?? */
.Scroll-container {
	position: relative;
	overflow-y: auto;
	overscroll-behavior-y: contain;
	scroll-snap-type: y mandatory;
	height: 100vh;
	width: 100%;
	-ms-overflow-style: none;
	scrollbar-width: none;}
  .dot-btns{position: fixed !important;right: 45px; z-index: 50;top: 35%;}
.dot-btns> button{    margin: 1.5rem 0;
  background: #b8b8b8;
  height: 0.7rem;
  width: 0.7rem;
  display: flex;
  flex-direction: column;
  padding: 0;
  border-radius: 50% !important;opacity: .9;transition: all 0.3s ease;box-sizing: border-box;}
  .dot-btns> button:hover{  height: .8rem;
opacity: 1;  background: #ffffff;}
.company-person{display: flex;align-items: center;justify-content: space-between;}
.company-person>h6{color: #272727;font-weight: 550; font-size: 20px;}
.position{color: #5B5B5B;font-size: 1.25rem;font-weight: 550;}
.top-heading{margin-top: 1rem !important;}
.popup{display: flex;flex-direction: column;gap: 1.1rem;}
input[type="number"] {
    -moz-appearance: textfield;
}
.txt-contact{border:1px solid #5B5B5B;}
/* For older versions of Edge */
input[type="number"]::-ms-inner-spin-button,
input[type="number"]::-ms-outer-spin-button {
    appearance: none;
}
input[type="number"] {
	-moz-appearance: textfield; /* Firefox */
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
.navbar-brand{padding-top: 0 !important;}
.about-img > h1{font-size: 3rem ; font-weight: 600; text-transform: uppercase;color: #fff;letter-spacing: .25rem;}
.page-content{position: relative;}
.enquery{position: absolute; z-index: 500; right: -74px; top: 45vh;transform: rotate(-90deg); border-radius: 7px 7px 0 0; padding:1rem 3rem}
.contactModal .modal-dialog.modal-lg.modal-dialog-centered .modal-content{ background-color: #fff;padding: 0 0 2rem 0;}
.input-contact-property{display: flex;align-items: center;gap: .5rem;}
.input-contact-property.col-6{padding:1rem 2rem;}
.in-btn input{width: 100%;}
.in-btn{ padding: 0 1.3rem;}
.modal-header{border-bottom: 0 !important; outline: none;}
.pro-submit-btn{padding: 1rem !important; font-size: 1.2rem !important; font-weight: 500 !important;}
.input-contact-property input{border-bottom: 1px solid #adadad;width: 100%;}
.input-contact-property-bot{border-bottom: 1px solid #adadad; width: 45%; padding: .8rem; margin: .8rem 0;}

.accordion-item{border: 0 !important;}
.accordion-button.collapsed{background: #fff !important;color: #000 !important;border-bottom: 1px solid #E29B9A;}
.accordion-button:not(.collapsed){background: none !important;color: #000 !important;}
@media (min-width:1200px){
.container{max-width: 1321px !important;}
.cI{width: 8rem !important;}
}
@media (max-width:500px){
	html,body {overflow-y:scroll !important;}
	input{font-size: 18px!important;}
	p {line-height: 180% !important}
	.res-100{width: 100% !important;}
	.heading{font-size: 1.2rem !important;}
	.copy{width:20rem !important}
	.copy h1{font-size: 1.5rem !important;padding-left: 1rem;bottom: 15% !important;}
	.dot-btns{right: 20px !important;}
	.closing-nav-container{padding: 0 1rem 0 0 !important;}
	.disappear{opacity: 1;}
	.image-disappear{display: none;}
	.col-8 , .col-4 , .col-6 , .col-7{width: 100% !important;}
	.company-person{margin-top: 3rem;}
	.about-left-content{padding: 3rem 2rem 2rem 2rem !important;}
	.name{margin: 2rem 0;}
	.blue-container{padding: 2rem 1rem !important;}
	.bot-left{padding-top:1rem !important;}
	.yellow-section{margin: .5rem 0 !important;}
	.yellow-section-row{margin: 0 !important;}
	.private-chart{width: 90vw !important;height:12rem !important}
	.downarrow{left: 5% !important;}
	.res-none{display: none !important;}
	.horizontal-nav-container{gap: 1.2rem;}
	.menu-btn-res{height: 22px !important;}
	.fund-box-c{gap: 2rem !important;}
	.res-form{padding: 0 1rem;}
	.mail-height{height: 15.5px !important;}
	.input-container{margin: 0 !important;gap: .5rem !important;}
	.downarrow{bottom: 75px !important;}
	.res-m-t{margin-top: 24px !important;}
	.h-res-n{background-color: #fff !important;}
	.about-img > h1{font-size: 1.5rem !important;letter-spacing: .15rem !important;}
	.about-img{height: 60vh !important;}
	.call-back-in{padding:3rem 1.5rem 3.5rem 1.5rem !important}
	.about-img{margin-top: 7vh !important;}
}